# Public client-side variables
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-01
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_PORTAL_ANALYTICS_WEBSITE_ID=atstudio-pt
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=production
NEXT_PUBLIC_SENTRY_ENABLE_IN_DEV=false

# Server-side variables
CONTACT_FROM_EMAIL="ATS Studio <noreply@atstudio.pt>"
PAGESPEED_API_KEY=
RESEND_API_KEY=
SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=
SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
SENTRY_ENABLE_IN_DEV=false
